.productsContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 168px - 85px);
}

.filtersDiv {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.productsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;

}

.productsDiv>* {
    flex: 1 1 25%;
    max-width: 20%;
}

.sectionCallToAction {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-image: url('../../../public/images/wave.svg');
    background-repeat: no-repeat;
    background-size: cover; /* Para que la imagen se ajuste al tamaño de la sección */
    background-position: center; /* Para centrar la imagen */
}

@media (max-width: 1200px) {

    .productsContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .productsDiv {
        display: flex;
        flex-direction: row;
        margin-top: 0px;
    }

    .productsDiv>* {
        flex: 1 1 100%;
        max-width: 40%;
    }

    .filtersDiv {
        width: 100%;
        align-items: stretch
    }

}

@media screen and (max-width: 640px) {

}