/* Navbar.module.css */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLogo img {
  margin-left: 20px;
  width: 60px;
}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbarLinks a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

.navbarToggle {
  cursor: pointer;
  display: none;
}

.navbarToggle .iconBag {
  margin: 0px;
  font-size: 30px;
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
  padding: 0;
  text-decoration: none;
  /* Elimina la subrayado */
  color: inherit;
  /* Hereda el color del texto del elemento padre */
}

.iconBagDesktop {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: -4px;
}

.navbarToggle .icon {
  color: white;
  font-size: 30px;
  width: 24px;
  height: 24px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png');
}

@media screen and (max-width: 768px) {
  .navbarLinks {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 90px;
    margin-bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .navbarContainer {
    align-items: flex-end
  }

  .navbarLinks {
    padding-top: 1px;
  }

  .navbarLogo img {
    margin-left: 10px;
    width: 50px;
  }

  .navbarLinks a {
    padding-bottom: 30px;
  }

  .navbarLinks.active {
    display: flex;
  }

  .navbarToggle {
    display: block;
    display: flex;
  }

  .navbarLinks {
    align-items: center;
  }

  .iconBagDesktop{
    display: none;
  }
}