@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: "Poppins", sans-serif;
}

/* main{
  min-height: calc(100vh - 268px - 80px);
} */

:root{
  background-color: #ffffffa2;
}

